* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
  font-size: 62.5%; /* 
                        100% = 16px = 1rem

                        100% = 16px
                         %   = 10px                  
                           
                           10 * 100 / 16 = 62.5%


    transformando o 16px em 10px para usar o rem
  */
}

body {
  height: 100%;
  width: 100%;
  
  background-color: rgb(255, 255, 255);
}

#cabecalho { 
  
  height: 110px;
  width: 100%;

  margin-top: 50px;

  background-color: #099c22;
}

#logo {
  width: 10rem;
  padding: 0.5rem;
  border-radius: 50%;
}

#titulo{
  position: relative;
  top: -75px;
  margin-left: 110px;
  font-size: 2.0rem;
  color: white;
}

main{
  position:relative;
  margin: 16px;
}

main div img{
  /* position: relative; */
  width: 300px;
  padding: 10px;

  top: -540px;
}

#boneca {  
  margin-left: 100px;
  width: 300px;
  /* margin-top: -550px; */
  
}

h2{
  font-size: 1.5rem;
}

/* a{
  font-size: 1.5rem;
} */

/* #check{
  display: none;
}

#icone{
  cursor: pointer;
  padding: 1.5rem;
  position: absolute;
  z-index: 1;
  left: 128rem
}

.barra{
  background-color: #333;
  height: 100%;
  width: 30.0rem;
  position: absolute;
  transition: all .2s linear;
  left: 140rem
} */

a{
  font-size: 1.9rem;
  color: white; 
}

/* nav{
  width: 100%;
  position: absolute;
  top: 6.0rem;
}

nav a{
  text-decoration: none;
}

.link{
  background-color: #494950;
  padding: 2.0rem;
  font-family: Arial;
  font-size: 12pt;
  transition: all .2s linear;
  color: f4f4f9;
  border-bottom: .2rem solid #222;
  opacity: 0;
  margin-top: 20.rem;
}

.link:hover{
  background-color: #050542;
}

#check:checked ~ .barra{
  transform: translateX(-35rem);
}

#check:checked ~ .barra nav a .link{
  opacity: 1;
  margin-top: 0;
  transition-delay: .2s;
} */

#rodape{
  background-color: #494950;
  padding: 1.6rem;
}

#rodape a{
  display: block;

}

#menuLateral{
  margin-right: 10px;
  display: flex;
  justify-content: end;
}

.navigation{     
  top: -20px;
  position: relative;
  height: 500px;
  background: #424242;
  width: 70px;
  box-shadow: 10px 0 0 #099c22;
  border-left: 10px solid #424242;
  overflow-x: hidden;
  transition: 0.5s;
}

.navigation:hover{
  width: 300px;
}

.navigation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

.navigation ul li{
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

.navigation ul li a{
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #fff;

}

.navigation ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}

.navigation ul li a .icon ion-icon{
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}

.navigation ul li a .title{
  position: relative;
  display: block;
  padding-right: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.navigation ul li.active{
  background-color: #099c22;
}

.navigation ul li.active a::before{
  content: '';
  position: absolute;
  top: -30px;
  right: 0px;
  width: 30px;
  height: 30px;
  background: #424242;
  border-radius: 50%;
  box-shadow: 15px 15px 0 #099c22;
}

.navigation ul li.active a::after{
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0px;
  width: 30px;
  height: 30px;
  background: #424242;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #099c22;
}